<%= simple_form_for @group do |f| %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: "form-contrl"} %>
    <%= f.input :description, input_html: { class: "form-control"} %>
  </div>

  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end %>
